<table>
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Bouquets</th>
      <th>Total Price</th>
      <th>Order Date</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ order.user.username }}</td>
      <td>
        {% for item in order.items %}
          {% if item.bouquet %}
            {{ item.bouquet.name }} x{{ item.quantity }}<br>
          {% else %}
            <span class="deleted">{{ item.bouquet_name }} (Deleted)</span><br>
          {% endif %}
        {% endfor %}
      </td>
      <td>${{ order.total_price }}</td>
      <td>{{ order.order_date|date:"Y-m-d H:i" }}</td>
      <td>
        <a href="{% url 'order_dtail' order.id %}" class="btn-view">View Details</a>
      </td>
      <td>
  {% if request.user.is_superuser %}
    {% if order.status != 'ready' %}
      <form action="{% url 'update_order_status' order.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-view">Mark as Ready</button>
      </form>
    {% else %}
      Ready
    {% endif %}
  {% else %}
    {{ order.status }}
  {% endif %}
</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
