{% extends base_template %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="profile-card">
    <div class="profile-image">
      <img src="{{ user.profile.image.url }}" alt="{{ user.username }}">
    </div>

    <div class="profile-info">
      <h2>{{ user.username }}</h2>
      <p class="bio">{{ user.profile.bio|default:"No bio available 🌸" }}</p>

      <a href="{% url 'edit_profile' %}" class="logout-btn">Edit profile</a>
      {% if not user.is_superuser%}
      <a href="{% url 'bouquet_list' %}" class="logout-btn">Go Back </a>
      {% else %}
      <a href="{% url 'admin_dashboard' %}" class="logout-btn">Go Back </a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
