{% extends 'base.html' %} {% load static %}
{% block title %}Sign Up{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block content %}
<section class="auth-section">
  <div class="auth-card">
    <h2>Create an Account 🌸</h2>
    <p>Join Waseem Flower Shop and spread the beauty of flowers 🌷</p>
    
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>


    <div class="auth-links">
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
  </div>
</section>
{% endblock %}