{% extends "base.html" %} {% load static %}
{% block title %} 
  About Us 
{% endblock %} 
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}
{% block content %}
 <section class="about">
  <div class="about-text">
    <h2>About Blossom Boutique </h2>
    <p>At Blossom Boutique , we believe every flower tells a story 🌷. Our bouquets are crafted with care, creativity, and a touch of love to bring beauty into your moments.</p>
  </div>
  <div class="about-img">
    <img src="../static/images/about .jpeg" alt="Flower Shop Interior">
  </div>
</section>

{% endblock %}