{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Navbar -->
    <nav class="admin-navbar">
        <div class="logo">🌸 Blossom Admin</div>
        <ul>
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="">Orders</a></li>
            <li><a href="">Bouquets</a></li>
            <li>
                <a href="{% url 'profile' %}">
                    <img src="{{ user.profile.image.url }}" alt="profile" class="admin-avatar">
                </a>
            </li>
            <li><a href="{% url 'logout' %}" class="logout-btn">Logout</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
