{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo_2.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<nav class="admin-navbar">
        <div class="logo">
  <a href="{% url 'home' %}">
    <img src="{% static 'images/logo_2.png' %}" alt="Logo Icon" class="logo-icon">
    <span>Blossom Admin</span>
  </a>
</div>
    
    <div class="hamburger" onclick="toggleMenu()">
        &#9776;
    </div>

    <ul id="nav-links">
        <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'bouquet_list' %}">Bouquets</a></li>
        <li><a href="{% url 'order_list' %}">Orders</a></li>
        <li>
            <a href="{% url 'profile' %}">
                <img src="{{ user.profile.image.url }}" alt="profile" class="admin-avatar">
            </a>
        </li>
        <li><a href="{% url 'logout' %}" class="logout-btn">Logout</a></li>
    </ul>
</nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
function toggleMenu() {
    const nav = document.getElementById("nav-links");
    nav.classList.toggle("active");
}
</script>

</body>
</html>
