{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Flower Shop{% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <!--  Navbar -->
    <header class="navbar">
      <div class="logo">Blossom Boutique  🌸</div>
      <button class="menu-toggle">☰</button>
      <nav class="nav-links">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
                   
{% if user.is_authenticated %}
<li><a href="{% url 'bouquet_list' %}">Bouquets</a></li>      
  <li class="profile-dropdown">
    {% if user.profile.image %}
<img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-img" >    <!--- here the img is not inside the user model so access ot from profile-->
    <ul class="dropdown-menu">
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </li>
    {% else %}
      <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
{% else %}
  <li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endif %}
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <p>© 2025 Blossom Boutique . All Rights Reserved.</p>
        <p>Follow us:
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </p>
      </div>
    </footer>



  <script>
  const menuBtn = document.querySelector(".menu-toggle");
  const navLinks = document.querySelector(".nav-links");

  menuBtn.addEventListener("click", () => {
    navLinks.classList.toggle("active");
  });

document.addEventListener('DOMContentLoaded', function() {
  const profileDropdown = document.querySelector('.profile-dropdown');
  const dropdownMenu = document.querySelector('.dropdown-menu');

  if (profileDropdown) {
    profileDropdown.addEventListener('click', function(e) {
      e.stopPropagation(); // ما يخلي الكليك يوصل للصفحة كلها
      dropdownMenu.classList.toggle('show');
    });
  }

  // اغلق القائمة لما يضغط المستخدم خارجها
  document.addEventListener('click', function(e) {
    if (!profileDropdown.contains(e.target)) {
      dropdownMenu.classList.remove('show');
    }
  });
});





</script>
  </body>



</html>

