{% extends "base.html "%}
{% load static %}
{% block title %} 
  About Us 
{% endblock %} 
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/contact.css' %}">{% endblock %}
{% block content %}
<section class="contact">
  <h2>Contact Us</h2>
  <p>We’d love to hear from you 🌸</p>
  
  <form method="POST" class="contact-form">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <textarea name="message" placeholder="Your Message" required></textarea>
    <button type="submit" class="btn">Send Message</button>
  </form>
</section>

{% endblock %}