.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f7450;
  color: white;
  padding: 10px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative;
}

.admin-navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin-navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.admin-navbar a:hover {
  color: #ffe4ec;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  color: #e91e63;
  font-weight: bold;
  margin: 0; 
}
.logo a {
  display: flex;
  align-items: center;
  gap: 10px; /* مسافة بين الأيقونة والنص */
  text-decoration: none;
  color: #f0eaec;
  font-weight: bold;
}

.logo-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/* Hover effect خفيف على اللوجو */
.logo a:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Responsive للهواتف */
@media (max-width: 480px) {
  .logo-icon {
    width: 28px;
    height: 28px;
  }
  .logo span {
    font-size: 1.2rem;
  }
}

.admin-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.logout-btn {
  background-color: #58b878;
  color: #e91e63;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #69d897;
  color: #c2185b;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
   z-index: 1100;
}

/* Responsive */
@media (max-width: 768px) {
.admin-navbar {
    position: relative;
    z-index: 1000;
  }

  .admin-navbar ul {
    flex-direction: column;
    position: absolute;
    top: 0; /* يظهر من فوق الهامبرجر */
    left: 0;
    right: 0;
    background-color: #1f7450;
    width: 100%;
    display: none; /* مخفي افتراضياً */
    padding: 10px 0;
    border-radius: 0;
    z-index: 1050; /* فوق كل عناصر الصفحة */
  }

  .admin-navbar ul.active {
    display: flex;
  }

  .admin-navbar ul li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: block;
    color: white;
    margin-bottom: 10px;
  }
}
