.page-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #d9534f;
    font-family: 'Segoe UI', sans-serif;
}

.bouquet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.bouquet-card {
    position: relative;
    background-color: #fff8f0;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s ease;
}

.bouquet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.bouquet-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.img-wrapper:hover .bouquet-main-img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(230, 224, 224, 0.795);
    color: #333;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.img-wrapper:hover .overlay {
    transform: translateY(0);
}

.overlay h3 {
    color: #c9302c;
    margin-bottom: 0.3rem;
}

.overlay p {
    font-weight: bold;
    margin-bottom: 0.5rem;
} 

.see-details-btn {
    display: inline-block;
    background-color: #c9302c;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.see-details-btn:hover {
    background-color: #d9534f;
}


.bouquet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-create {
    background-color: #f7b2c4;
    color: #6d1650;
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-create:hover {
    background-color: #f7b2c4;
    color: #e91e63;
}
