.hero {
  position: relative;
  height: 100vh;
  background-image: url("../images/home.jpg"); /* مسار الصورة */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75); /* خلفية شفافة */
  padding: 40px;
  border-radius: 20px;
  max-width: 600px;
}

.overlay h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #e91e63;
  margin-bottom: 10px;
}

.overlay p {
  font-family: "Poppins", sans-serif;
  color: #444;
  font-size: 1.3rem;
  margin-bottom: 20px;
}



.btn:hover {
  background-color: #c2185b;
}


.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #fff8f9;
}

.hero-content span {
  color: #ffe4ec;
}

.hero-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.btn {
  background-color: #e75480;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #f7b2c4;
}
