{% extends base_template %}
{% load static %}

{% block title %}{{ detail.name }} Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
<section class="details-container">
  <div class="details-img">
    <img src="{{ detail.image.url }}" alt="{{ detail.name }}">
  </div>
  <div class="details-info">
    <h1>{{ detail.name }}</h1>
    <p class="details-price">💐 Total: ${{ detail.total_price }}</p>
   
    <h3>Included Flowers:</h3>
    <ul class="flower-list-detail">
      {% for bf in detail.bouquetflower_set.all %}
        <li>
          {% if bf.flower.image %}
            <img src="{{ bf.flower.image.url }}" alt="{{ bf.flower.name }}" class="flower-thumb">
          {% endif %}
          {{ bf.quantity }} × {{ bf.flower.name }}
        </li>
      {% endfor %}
    </ul>

{% if request.user.is_superuser %}
  <div class="admin-buttons">
    <a href="{% url 'edit_bouquet' detail.id %}" class="btn-edit">Edit Bouquet</a>
    <a href="{% url 'delete_bouquet' detail.id %}" class="btn-delete">Delete Bouquet</a>
     <a href="{% url 'bouquet_list'  %}" class="btn-edit">Go Back</a>
  </div>
{% else %}
  <a href="{% url 'create_order' detail.id %}" class="see-details-btn">Order Now</a>
    <a href="{% url 'bouquet_list'  %}" class="see-details-btn" style="background-color: gray;">Go Back</a>
{% endif %}


  </div>
</section>
{% endblock %}
