{% extends base_template %}
{% load static %}

{% block title %}Bouquets{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bouquet.css' %}">
{% endblock %}

{% block content %}
<div class="bouquet-header">
    <h2>Our Bouquets 🌸</h2>
    {% if user.is_superuser %}
        <a href="{% url 'create_bouquet' %}" class="btn btn-create">Add New Bouquet</a>
    {% endif %}
</div>


<div class="bouquet-container">
  {% for bouquet in bouquets %}
    <div class="bouquet-card">
      <div class="img-wrapper">
        <img src="{{ bouquet.image.url }}" alt="{{ bouquet.name }}" class="bouquet-main-img"/>
        <div class="overlay">
          <h3 class="bouquet-name">{{ bouquet.name }}</h3>
          <p class="bouquet-price">💐 ${{ bouquet.total_price }}</p>
        
          <a href="/details/{{ bouquet.id }}" class="see-details-btn">See Details</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No bouquets available yet.</p>
  {% endfor %}
</div>
{% endblock %}
